@{
    ViewData["Title"] = "Contact Info About Us";
}
<h1>We don't promote marijuana. We just use it!</h1>
<br>
<br>
<h4 style="margin-left:300px">
     Don't worry about a thing
    <br>
    'Cause every little thing is gonna be alright
    <br>
     Singing, "Don't worry about a thing"
    <br>
    'Cause every little thing is gonna be alright!
    <br>
    <br>
    <br>
     KEEP CALM AND SMOKE WEED
</h4>


<div style="background-color: burlywood; margin-top: 400px">
    <h5>Phone: 380685247141</h5>
    <h5>Telegram: 380662811913</h5>
    <h5>Instagram: <a href="https://instagram.com/boy_toyyy_?igshid=YmMyMTA2M2Y=">Instagram</a></h5>
</div>