@using WebApplication8.Models;
@{
    ViewData["Title"] = "Cart";
    List<Stuff> list = (List<Stuff>)ViewBag.cartlist;

    float Total = 0.0f;

    foreach (var item in list)
    {
        Total += item.Price;
    }
}
        <div class="box">
        <div style="display:flex;"><h5>Всего: @Total ₴</h5></div>


            @foreach(var prod in list){

            <div class="card-box">
                <img alt="" src="@list.Find(c=>prod.Image==c.Image)" class="cover-box"/>

                <div class="info-box">
                    <div class="name-box">@prod.Name</div>
                </div>
                <div class="price-box">@prod.Price ₴</div>

                <form method="post">
                    <input type="text" name="book_id" value="@prod.ID" style="display:none;"></input>
                    <button type="submit" style="border:none;"><img src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-coloricon/21/19-512.png" style="width:30px; height:30px;" /></button>
                </form>
            </div>
            }
        </div>
