@{
    ViewData["Title"] = "Log In";
}

        <form method="post">  
            <div class="login-container">   
                <label>Username : </label> <br/>  
                <input type="text"  name="Login" required>  
                <br>
                <label>Password : </label>   
                <br/>  
                <input type="password"  name="Pass" required>  
                <br>
                <button type="submit">Login</button>
                <br>
                <a asp-area="" asp-controller="Profile" asp-action="SignIn">Зарегестрироватся</a>   
            </div>   
        </form>     