@{
    ViewData["Title"] = "Profile";

    User user = (User)@ViewBag.User;
}
<div class="container">

            <div class="info">
               Login: <p> @user.Login</p><br>
            </div>
            <a asp-area="" asp-controller="Profile" asp-action="Cart">Текущие заказы</a>
</div>
