@{
    ViewData["Title"] = "Add Category";
}

<form method="post" class="admin-add">
    <label>Enter Category:</label><br/>
    <input type="text" name="name" required></input><br/>
    <button type="submit">Upload</button>
</form>