@{
    ViewData["Title"] = "Delete Stuff";
}
@using WebApplication8.Models;
@{
    var stuff = (List<Stuff>)ViewBag.Stuff;
}

<div>
            @foreach(var prod in stuff){

            <div class="card-box">
                <img alt="" src="@stuff.Find(c=>prod.Image==c.Image)" class="cover-box"/>
                <div class="info-box">
                    <div class="name-box">@prod.Name</div>
                </div>
                <div class="price-box">@prod.Price ₴</div>
                <form method="post">
                    <input type="text" name="book_id" value="@prod.ID" style="display:none;"></input>
                    <button style="border:none;"><img src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-coloricon/21/19-512.png" style="width:30px; height:30px;" /></button>
                </form>
            </div>
            }
</div>
