@{
    ViewData["Title"] = "Menu";
}

<div class="admin-menu">

    <a asp-area="" asp-controller="Admin" asp-action="AddStuff">Add Stuff</a>
    <a asp-area="" asp-controller="Admin" asp-action="DeleteStuff">Delete Stuff</a>
    <br/>
    <a asp-area="" asp-controller="Admin" asp-action="AddCategory">Add Category</a>
    <a asp-area="" asp-controller="Admin" asp-action="DeleteCategory">Delete Category</a>
</div>